body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
.container {
  max-width: 2129px;
  margin-left: auto;
  margin-right: auto;
}
.header__top {
  padding: 40px 0;
}
.header__title {
  margin: 0 auto;
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
  font-size: 13.35px;
}
.header__job-position {
  font-size: 62.5px;
  background-color: #FFC600;
}
.header__company {
  margin: 0 auto;
  padding-bottom: 20px;
  font-size: 92.36px;
  text-transform: uppercase;
  text-align: center;
}
.header__two-underline {
  box-sizing: border-box;
  width: 129px;
  height: 13px;
  margin-left: auto;
  margin-right: auto;
  border-top: 3px solid #FFC600;
  border-bottom: 3px solid #FFC600;
}
.header_head {
  padding-top: 68px;
  padding-bottom: 92px;
  border-top: 6px solid #D7D7D7;
  border-bottom: 6px solid #D7D7D7;
}
.head__section {
  display: inline-block;
  vertical-align: middle;
}
.head__design-position {
  padding-right: 95px;
  font-size: 63px;
  font-weight: 700;
  /*( ͡° ͜ʖ ͡°)*/
  background: linear-gradient(to right, transparent 30%, #FFC600 30%);
  text-transform: uppercase;
}
.head__address {
  padding: 13px 40px 13px;
  font-size: 29px;
  font-weight: 300;
}
.head__address>p,
.head__design-position>p {
  margin: 0;
}
.head__phones {
  padding: 0 20px;
  width: auto;
  height: auto;
  background-color: #FFC600;
  font-size: 28px;
  letter-spacing: 0.67px;
}
.head__web-contacts {
  padding: 0 42px;
  font-size: 30px;
  letter-spacing: 1.92px;
}
.head__icon {
  padding-right: 10px;
  vertical-align: middle;
}
.main {
  font-size: 0;
  padding-top: 156px;
}
.cover-letter__text {
  display: inline-block;
  font-size: 42px;
  font-weight: 300;
  vertical-align: top;
}
.cover-letter__text--left {
  padding-top: 100px;
  width: 20%;
  max-width: 365px;
}
.cover-letter__text--right {
  width: 80%;
  max-width: 1765px;
}
.cover-letter__p {
  padding-left: 140px;
  padding-right: 60px;
  box-sizing: border-box;
}
.signature {
  padding-top: 60px;
  padding-left: 15px;
}
.footer {
  padding-top: 573px;
  padding-bottom: 195px;
}
.footer__logo {
  display:block;
  margin-left: auto;
  margin-right: auto;
}
